
input.border-gradient {
  all: unset;
  color:#fff;
  border: 1px solid #999797;
  border-radius: 5px;
  padding: 10px 20px;
}

input.border-gradient:is(:focus) {
  border: 2px solid transparent;
  transition: all 0.1s ease;
  background: linear-gradient(#121125, #121125) padding-box, linear-gradient(45deg, blue, red) border-box;
}
